.hero{
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding: 50px 0;
}
.hero p{
color: rgba(230, 220, 220, 0.8);
padding-bottom: 20px;
}
.hero h1{
  color: white;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 150px;
  font-size: 24px;
}
.hero a{
  padding: 15px 25px;
  color: white;
  border-radius: 50px;
  background-color: rgb(79, 242, 79);
}
